.page-room {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(45deg, #d62020, #2938c2);
    display: flex;
    padding: 100px 150px;
    .cont{
        width: 100%;
        display: flex;
        justify-content: space-between;

        .left{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    }

}