.game {
    width: 100%;
    height: 100%;
    background: linear-gradient(225deg, #d62020, #2938c2);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 2px solid black;
    position: relative;

    .title {
        font-size: 180px;
    }

    .param{
        &:hover{
            cursor: pointer;
        }
    }

    .param {
        position: absolute;
        top: 10px;
        left: 95%;
    }
    

    .play-btn {
        width: 280px;
        height: 60px;
        border-radius: 10px;
        background-color: rgb(42, 189, 42);
        transition: 0.3s;

        &:hover {
            background-color: rgb(6, 143, 6);
        }
    }
}